<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= split_stylesheet_link_tag "too_big_stylesheet", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
