<!DOCTYPE html>
<html>
<head>
  <title>CssSplitter</title>
  <%= stylesheet_link_tag    "css_splitter/application", :media => "all" %>
  <%= javascript_include_tag "css_splitter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
