<h1>Tests#test</h1>
<p>Find me in app/views/tests/test.html.erb</p>

<p>The follwing is taken from <%= link_to "http://marc.baffl.co.uk/browser_bugs/css-selector-limit/", "http://marc.baffl.co.uk/browser_bugs/css-selector-limit/" %></p>

<div id="test">
  <br>
  <p>
    This div should be GREEN, if it is RED the browser has the limitation (and the split file doesn't work).
  </p>
  <br>
</div>
