.red {
  color: red;
}

@keyframes my-animation {
   0%  { top: 0px;   }
  20%  { top: 20px;  }
  40%  { top: 40px;  }
  60%  { top: 60px;  }
  80%  { top: 80px;  }
  100% { top: 100px; }
}

.blue {
  background-color: blue;
}
